# In IDEA, you need to install two plugins. Go to Settings / plugins and
# install these plugins from the Marketplace:
#
# - IdeaVim
# - AceJump
#
# To enable support for lazygit:
# - `sudo apt install lazygit`
# - Go to "Settings / Tools / External tools"
# - Add tool:
#   - Name: lazygit
#   - Program: alacritty
#   - Arguments: -e lazygit
#   - Working directory: $ProjectFileDir$
#   - Advanced options: Synchronize files after execution

# Mimic LazyVim

Plug 'preservim/nerdtree'
Plug 'easymotion/vim-easymotion'

set number relativenumber
set ideajoin
set clipboard+=unnamed

let mapleader = " "

nmap <leader>gg <Action>(Tool_External Tools_lazygit)
nmap <leader><leader> <Action>(GotoFile)
nmap <C-/> <Action>(ActivateTerminalToolWindow)
nmap <leader>bd <Action>(CloseEditor)
nmap <leader>bo <Action>(CloseAllEditors)
nmap <leader>sS <Action>(GotoSymbol)
nmap <leader>ss <Action>(FileStructurePopup)
imap <C-s> <Esc>:w<CR>
nmap <leader>sk <Action>(GotoAction)
nmap <leader>/ <Action>(FindInPath)
nmap <leader>cf <Action>(ReformatCode)
vmap <leader>cf <Action>(ReformatCode)
nmap <leader>cr <Action>(RenameElement)
nmap <leader>qq <Action>(Exit)
nmap <leader>` <Action>(RecentFiles)
nmap <leader>fr <Action>(RecentFiles)
nmap ]e <Action>(GotoNextError)
nmap [e <Action>(GotoPreviousError)
nmap ]w <Action>(GotoNextError)
nmap [w <Action>(GotoPreviousError)
nmap ]d <Action>(GotoNextError)
nmap ]d <Action>(GotoNextError)
nmap <leader>ca <Action>(ShowIntentionActions)
nmap <leader>cA <Action>(Generate)
nmap <leader>qS <Action>(RecentProjectListGroup)
nmap <leader>e <Action>(ActivateProjectToolWindow)
nmap <leader>sc <Action>(GotoClass)
nmap <leader>l <Action>(WelcomeScreen.Plugins)
nmap <leader>db <Action>(ToggleLineBreakpoint)
nmap <leader>sT <Action>(ActivateTODOToolWindow)
nmap <leader>gI <Action>(GotoImplementation)
vmap gc <Action>(CommentByLineComment)
nmap gc <Action>(CommentByLineComment)
nmap <leader>cxv <Action>(IntroduceVariable)
vmap <leader>cxv <Action>(IntroduceVariable)
nmap <leader>cxm <Action>(ExtractFunction)
vmap <leader>cxm <Action>(ExtractFunction)
nmap <leader>cxc <Action>(IntroduceConstant)
vmap <leader>cxc <Action>(IntroduceConstant)
nmap <leader>co <Action>(OptimizeImports)
nmap gr <Action>(FindUsages)

set nerdtree
set easymotion

nmap s <Action>(AceAction)
vmap s <Action>(AceAction)
